<h1>This is the home page</h1>

<form method="GET" action="/movies">
    <label for="nameMovie">Search for movie:</label>
    <input type="text" id="movie" name="nameFilter"> 
    <input type="submit">
</form>